.canvas-menu {
  background-color: #323130;
}

.top-left-canvas {
  @extend .canvas-menu;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  z-index: 51;

  .area {
    display: flex;
    align-items: center;
  }
}

.fa-chevron-down {
  color: white;
}

.menu-Popup-Quiz1-Button-Out {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.header-Right-B2-Icon-LoadImage {
  background-color: #323130;
  border-color: #323130;
}

.image-Show-Header-Right {
  height: 20px;
  // margin-top: 3px;
}

.object-select {
  margin-left: 13px;
}

.header-Right-B2-Icon-LoadJson {
  background-color: transparent;
  margin-top: 8px;
  margin-left: 4px;
}

.icon-Header_text {
  font-size: 18px;
}

.right-left-canvas {
  @extend .canvas-menu;

  position: fixed;
  top: 0px;
  right: 0;
  padding-top: 44px;
  cursor: pointer;
  width: 44px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  text-align: center;
  z-index: 50;
}


.btnLeft {
  // float: left;
  // width: 25px;
  // height: 25px;
  padding: 0;
  background: none;
}

.btnRight {
  float: right;
  width: 25px;
  height: 25px;
  padding: 0;
  background: none;
}

.Icon-Big-Popup-Header-Right {
  @extend .icon-Header;

  &>img {
    margin-top: 0;
    height: 44px;
  }
}

.img25 {
  height: 17px;
  width: 17px;
}

.icon-image {
  margin-right: 10px;
  filter: grayscale(100%) brightness(50%);
}

// .icon-image1 {
//   margin-right: 10px;
//   filter: grayscale(100%) brightness(50%);
// }

// .img35 {
// }

.custom-modal {
  --height: 75%;
  --border-radius: 24px 24px 0 0;
}

.custom-modal::part(content) {
  position: fixed;
  bottom: 0;
}

#drawing-color {
  border-radius: 50%;
  border: none;
  outline: none;
  appearance: none;
  justify-content: center;
  margin: 0;
}

#divrubber {
  position: absolute;
  top: 50px;
  left: 65px;
  padding: 0px;
  margin: 0px;
  width: 50px;
  height: 50px;
  border: 0px red dotted;
  z-index: 9;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
}

#controlrubber {
  opacity: 1;
  z-index: 1;
  display: block;
}

.css-cursor-50 {
  background: url(/assets/imgs/cursor-50.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.css-img-erase {
  width: 100%;
  height: 100%;
  border: none;
}

//add image
.add-image {
  position: relative;
}

.tooltip-wrap {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border-color: transparent;
}

#listIconSVG .tooltip-wrap:hover {
  background: #eee;
}

.tooltip-wrap:hover,
.tooltip-wrap.show-tt {
  background: #1b1b1b;
  position: relative;
}

.tooltip-wrap.show-tt .tooltip-icon {
  display: block !important;
  visibility: visible !important;
  z-index: 1000;
}

.form-control {
  width: auto;
  display: inline;
}

.inputfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.inputfile+label {
  font-size: 13px;
  font-weight: normal;
  color: white;
  background-color: #787878;
  display: inline-block;
  padding: 4px 10px;
  margin: 5px 0 0;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #787878;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.tooltip-wrap.show-tt .tooltip-icon {
  display: block !important;
  visibility: visible !important;
  z-index: 1000;
}

.tooltip-icon {
  position: absolute;
  background: #1b1b1b;
  left: 0;
  top: 100%;
  min-width: 140px;
  padding: 0 14px !important;
  text-align: left;
}

.tooltip-icon>span {
  display: block !important;
  width: 100%;
  padding: 0 !important;
  line-height: 20px !important;
  margin: 10px 0 2px;
}

.tooltip-icon>span.t {
  margin-top: 2px;
  margin-bottom: 10px;
  color: #c8c8c8 !important;
}

.tooltip-icon>span.h {
  color: #fff !important;
  font-weight: bold;
}


.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#drawing-canvas-container {
  div.inner-scroll {
    background: #323130;
  }
}


ion-modal {
  --ion-background-color: {
      {
      bgColor
    }
  }
}

.color-input-wrapper {
  height: 2em;
  width: 2em;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.color-input-wrapper input[type=color] {
  position: absolute;
  height: 2em;
  width: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.textbtnmapping {
  font-size: 50%;
}

.btnMapping {
  margin-right: 10px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center
}

.disabled-element {
  opacity: 50%;
  pointer-events: none;
}

.sunken {
  box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
}


//hover in mobile

.cssBtnBack {
  background-color: #323130;
  border-color: #323130;
  margin: 5px;
  position: relative;
}

/* Style for the label */
.label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: green;
  padding: 5px;
  border-radius: 5px;
  display: none;
  /* Initially hide the label */
}

/* Media query for small screens */
@media (hover: hover) and (pointer: fine) {
  .dataNameValue:hover::before {
    content: attr(data-name);
    display: block;
    position: absolute;
    top: 100%;
    background-color: white !important;
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
}



.hide {
  display: none !important;
}


.hh {
  margin-left: 25px;
  background-color: black;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  color: red;
}

.hhh {
  margin-left: 15px;
  background-color: #1b1b1b;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: yellow;
}

.hhhh {
  margin-left: 10px;
}


.text-Edit-MutilChoose {
  margin-left: 10px;
}


.color-mutilChoose {
  margin-top: 10px;
  margin-left: 10px;
}

.on-do-quiz-btns {
  $gap: .5rem;

  position: fixed;
  top: $gap;
  right: $gap;
  z-index: 1000;

  .btn {
    display: block;
    background-color: transparent;
    border: none;
    margin-bottom: $gap;
    scale: 0.8;

    --background: #000000c0;
    --color: white;

    button, .button-native, ion-icon {
      color: var(--color) !important;
    }
  }
}

li {
  margin: 15px 0px;
}


#textMode03 {
  background-color: transparent;
  width: 100%;
  // height: 120px;
}

#textAreaSelectQuiz {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  color: #000000;
}



#textAreaInputQuiz2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  color: #000000;
}


.editTextMutltiChoose {
  width: 40%;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  color: #000000;
}

// .editTextMutltiChoose {
//   width: 40%;
//   height: 30px;
//   margin-top: 10px;
//   border-radius: 10px;
//   background-color: white;
//   color: #000000;
// }

#textInput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  color: #000000;
}


.buttonAddSelect {
  padding: 7px 15px;
  border-radius: 5px;
}


.buttonAddinput {
  margin-left: 20px;
  background-color: white;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  color: black;
}

.addTextMulti {
  margin-left: 15px;
  background-color: white;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  color: black;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: left;
  /* Căn giữa theo chiều ngang */
  margin-top: 5px;
}

.menu-Popup-Quiz1-Div {
  width: 260px;
  height: 200px;
}

.custom-fab {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.menu-Popup-Quiz2-Buuton-Out {
  border-color: #323130;
  margin: 0;
  padding: 0;
  width: 100%;
}

.custom-fab_quiz2 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.fab-container {
  background-color: #323130;
  margin-bottom: 25px;
  // margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.menu-Popup-Quiz1-Div {
  width: 260px;
  height: 160px;

}

.fab-label {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  color: #fff;
}

.fab-list {
  list-style: none;
  padding: 0;
}

.fab-list li {
  margin-bottom: 10px;
}


// CSS Icon Header Right
// .button-Icon-Header-Right {
//   margin-top: 6px;
//   background-color: transparent;
//   width: 28px !important;
//   height: 28px !important;
// }

// CSS Menu Popup Icon Header
.menuPopupQuiz {
  margin-top: 20px;
  margin-left: 85px;
}

.menuPopupQuiz2 {
  margin-top: 20px;
  margin-left: 120px;
}

.menuPopupQuiz3 {
  margin-top: 20px;
  margin-left: 180px;
}

.menuPopupQuiz11 {
  margin-top: 20px;
  margin-left: 230px;
}

.menuGame {
  margin-top: 20px;
  margin-left: 200px;
}

// CSS Icon Header
.icon-Header {
  position: relative;
  display: block;
  background-color: transparent;
  color: white;
  transition: transform 150ms;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;

  &:hover {
    transform: scale(1.2);
  }

  &>img {
    height: 20px;
    width: auto;
    margin-top: 12px;
  }
}

.menu-Popup-Header-Quiz1 {
  background-color: #323130;
  border-color: #323130;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-Popup-Header-Quiz1-Button-Out {
  width: 100% !important;
  padding: 0 !important;
}

.menu-Popup-Header-Quiz1-Input {
  height: 80px !important;
  padding: 0 !important;
  width: 100% !important;
}

.menu-Popup-Header-Quiz1-Button {
  margin-top: 5px;
  padding: 7px 15px;
  border-radius: 5px;
  width: 30%;
  border: 2px solid #363636;
}

//CSS Icon Header Close Popup Quiz
.menu-Popup-Header-Quiz-icon-Close {
  height: 20px;
  margin-right: -15px !important;
  margin-top: -15px;
  float: right;
  right: 0;
  position: relative;
  background-color: black;
  border-radius: 50%;
  z-index: 9999;
}

.menu-Popup-Header-Quiz11-Button-Out {
  background-color: #323130;
  border-color: #323130;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.menu-Popup-Header-Quiz11-Button-Out-Input {
  height: 80px !important;
  width: 103% !important;
}

.menu-Popup-Quiz-Title {
  font-size: 12px !important;
}

.menu-Popup-Header-Quiz11-Button-Out-ButtonChild {
  margin-bottom: 5px !important;
  margin-top: 5px;
  padding: 7px 15px;
  border-radius: 5px;
  width: 40%;
  border: 2px solid green;

}

.menu-Popup-Header-Quiz-MatchObject-Button-Add-Connect {
  margin-right: 10px;
  padding: 0;
  background: none;
}

.menu-Popup-Header-Quiz-MultiChoose {
  display: flex;
  border-left: 2px solid #696969;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  margin-left: 10px;
  height: 90%;
}

.menu-Popup-Header-Quiz-MultiChoose-Text {
  display: flex;
  align-items: center;
  margin-right: 3px;
  margin-left: 25px;
  font-size: 12px;
}

.menu-Popup-Header-Quiz-InputObject {
  width: 260px;
  height: 160px;
}

.fab-container_quizGame {
  display: flex;
  justify-content: space-around;
}

.menu-Popup-Header-Quiz-MatchObject {
  border-left: 2px solid #696969;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  height: 90%;
}


// Icon Connectivity - MatchObject
.icon-Connectivity {
  height: 20px;
  margin-top: 3px;
}

// CSS scale Quiz

.icon-Header.active1 {
  box-sizing: unset;
  background-color: black;
  border: 1px solid #363636;
  border-radius: 3px;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.button-clicked {
  background-color: black;
  border: 1px solid #363636;
  border-radius: 3px;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.multiTrue {
  // margin-left: 5px !important;
  font-size: 16px !important;
}

.multiFalse {
  // margin-left: 5px !important;
  font-size: 16px !important;
}


@media only screen and (max-width: 431px) {
  .menu-Popup-Header-Quiz-MatchObject {
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-left: 0 !important;
  }

  .icon-Connect-Responsive {
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-left: 0 !important;
    font-size: 10px !important;
  }

  .icon-Header {
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-left: 0 !important;
  }

}

@media screen and (max-width: 414px) and (max-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-top: 30px; 
  }
} 
// Screen Iphone 12 Pro
@media only screen and (max-width: 845px) {
  .top-left-canvas {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .icon-Connect-Responsive {
    padding: 0;
    margin: 0px 5px;
  }

  .icon-Header-Iphone12Pox {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}


// Screen Iphone SE
@media only screen and (max-width: 668px) {
  .icon-Header {
    background-color: transparent;
    margin-top: 5px;
  }

  .img35 {
    width: 17px !important;
    height: 17px !important;
  }

  .icon-Header-Right {
    margin-right: 1px;
    padding: 0;
    background: none;
  }

  .icon-Header-Right0 {
    height: 16px !important;
    margin: 0 0 !important;
  }

  .icon-Connect-Responsive {
    padding: 1px !important;
    margin: 0px 2px !important;
    font-size: 12px;

  }

  .icon-Header-Iphone12Pox {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }


  .menu-Popup-Header-Quiz-MultiChoose-Text {
    margin-right: 3px;
    margin-top: 2px;
    margin-left: 2px !important;
    font-size: 15px;
  }

  .multiTrue {
    margin-left: 8px !important;
    font-size: 12px !important;
  }

  .multiFalse {
    margin-left: 8px !important;
    font-size: 12px !important;
  }

  .iconSelect {
    margin-top: 2px;
  }
}

.icon-Header-Right0 {
  height: 20px;
}

@media only screen and (max-width: 500px) {

  #save,
  #save-local,
  #quiz_game,
  #zoomIn,
  #zoomOut,
  #Answer,
  #Veseel,
  #delete,
  #Anwser,
  #moveObject {
    display: none;
  }

  .menuPopupQuiz {
    margin-top: 20px;
    margin-left: 20px;
  }

  .menuPopupQuiz2 {
    margin-top: 20px;
    margin-left: 40px;
  }

  .menuPopupQuiz11 {
    margin-top: 20px;
    margin-left: 60px;
  }

  //add code 5h10p date 05/10/2024
  .menuPopupQuiz3 {
    margin-top: 20px;
    margin-left: 80px;
  }

  .multiTrue {
    margin-left: 4px !important;
    font-size: 9px !important;
  }

  .multiFalse {
    margin-left: 4px !important;
    font-size: 9px !important;
  }

  .menu-Popup-Header-Quiz-MultiChoose {
    margin-left: 6px !important;
    border-left: 0 !important;
    padding-left: 2px !important;
  }

  .menu-Popup-Header-Quiz-MatchObject {
    border-left: 2px solid #696969;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 13px;
  }

  .icon-Connect-Responsive {
    padding: 0 !important;
    margin: 0px 2px !important;
    font-size: 10px;
  }
}

// // Why?
// @media only screen and (min-width: 667px) {
//   #saveJson,
//   #save_localJson,
//   #quiz-game,
//   #zoomInHidden,
//   #zoomOutHidden,
//   #quiz3,
//   #moveObject_Hidden {
//     display: none;
//   }
// }

.button-Icon-Header-Right {
  @extend .icon-Header;
}

.iconH_V {
  height: 20px;
  padding: 0px !important;
}


input.mic-input {
  border: 2px solid #b7d6ef; /* Light blue border */
  padding: 10px;
  font-style: italic;
  font-size: 16px;
  outline: none;
}

input.mic-input::placeholder {
  color: red;
  font-style: italic;
}

/* Optional: Add some hover or focus effect */
input.mic-input:focus {
  border-color: #00aaff; /* Change border color on focus */
}


.hidden-value {
  color: transparent;       /* Makes the text transparent */
  text-shadow: 0 0 0 black; /* Creates a shadow to make it appear as if there is no text */
  background-color: transparent; /* Ensures no background color is visible */
}

/* Class to show text when input is active */
.visible-value {
  color: black;             /* Changes text color to black to show the input value */
  text-shadow: none;       /* Removes shadow to display the text normally */
}
